<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.liekai.boot.mybatis.mapper.CourseMapper">
  <resultMap id="courseMap" type="top.liekai.boot.mybatis.domain.Course">
    <id column="course_id" property="courseId" />
    <result column="course_name" property="courseName" />
    <collection property="studentList" ofType="top.liekai.boot.mybatis.domain.Student">
      <id column="student_id" property="studentId" />
      <result column="student_name" property="studentName" />
    </collection>
  </resultMap>

  <select id="selectAll" resultMap="courseMap">
    select c.course_id,c.course_name, s.student_id,s.student_name,s.hometown,s.birthday
    from t_course c
                left join t_course_student cs
        on c.course_id =cs.course_id
                left join t_student s
        on cs.student_id = s.student_id
    </select>
</mapper>